<!DOCTYPE html>
<head>
    <title>{{obj.tablename}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
    <h2>{{obj.tablename}}</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                {% for col in obj.fields %}
                    <th>{{ col }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for elem in data %}
        <tr>
            {% set vals = elem.getValues() %}
            {% for val in vals %}
                {% set link = obj.links[val] %}
                {% if link and elem[link] %}
                <td><a href={{ url_for(elem[link].tablename, id=elem[link].id) }}>{{ elem[link] }}</a></td>
                {% else %}
                <td>{{ vals[val] }}</td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
